@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgba(205, 233, 255, 0.31);
}

ul {
  li {
    a {
      transition: 0.4s linear;

      &:hover {
        color: #40A3F8 !important;
      }
    }
  }
}

.header {
  padding-top: 15px;
  height: 896px;
  position: relative;
  clear: both;
  background: linear-gradient(270.26deg, rgba(71, 194, 255, 0.23) 0.21%, rgba(99, 203, 254, 0) 97.38%);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);

  .navbar {
    position: relative;
    padding: 0;
    background: transparent;

    .hamburger-react {
      display: none;
    }

    .nav-item {
      a {
        transition: 0.4s linear;

        &:hover {
          color: #40A3F8;
        }
      }
    }

    .nav-link {
      margin-left: 50px;
    }

    button {
      margin-left: 46.8px;
    }

    .collapse {
      right: 0;
      position: absolute;
    }

    button {
      padding: 13.91px 28px 11.39px 28.2px;
      font-style: normal;
      font-weight: 500;
      font-size: 14.997px;
      line-height: 22px;
      color: #FFFFFF;
    }
  }
}

.header-content {
  .title {
    z-index: 2;
  }

  .header-title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #3E3E3E;
  }

  .header-title:nth-child(1) {
    margin-top: 254px;
  }

  .header-title:nth-child(2) {
    color: #40A3F8;
  }

  p {
    margin-bottom: 50px;
    margin-top: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: rgba(117, 117, 117, 0.46);
  }

  .girl {
    img {
      margin-top: 129px;
      width: 610.64px;
    }

    img:nth-child(2) {
      top: 20px;
      right: -120px;
      width: 908px;
      z-index: 1;
    }

  }

  .myForm {
    background: #FFFFFF;
    box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
    border-radius: 8px;
    padding: 14px 13px;
    width: 100%;
    justify-content: space-between;

    input, select {
      width: 216px;
      height: 100%;
    }

    select {
      cursor: pointer;
    }
  }
}

.section, .main, .main-content, .sectionAfterMain {
  .title {
    margin-top: 75px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    color: #3E3E3E;
  }

  .card {
    background: transparent;
    height: 100%;
    border: 0;

    .card-header, .card-footer {
      border: 0;
      padding: 0;
      background: transparent;

      div {
        border-radius: 50px;
        margin: 0 auto 5px auto;
        padding: 17px 17px;
        width: 80.62px;
        background: linear-gradient(180deg, rgba(0, 158, 255, 0.1) 0%, rgba(56, 175, 255, 0.1) 100%);
        mix-blend-mode: multiply;
        box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      }

      h5 {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .card-body {
      padding: 0;

      h3 {
        margin-bottom: 18px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #3D3D3F;
      }
    }
  }

  .react-parallax {
    margin-top: 100px;
    height: 400px;
    border-radius: 15px;

    .myParallax {
      position: absolute;
      border-radius: 15px;
      font-weight: bolder;
      top: 200px;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;
      mix-blend-mode: multiply;
      text-shadow: 0 0 15px #40A3F8;
      padding: 15px;
      font-size: 3em;
      background: #40A3F8;
    }
  }

  .person, .content {
    margin-top: 75px;
  }

  .person {
    width: 545px;
    position: relative;
    height: 582px;

    img {
      width: 100%;
      position: absolute;
    }

    img:nth-child(1) {
      width: 126px;
      top: 134px;
      left: 90.12px;
    }

    img:nth-child(2), img:nth-child(3) {
      left: 0;
      bottom: 0;
    }
  }

  .content {
    width: 506px;
    margin-top: 174px;
    margin-left: 109px;

    h3 {
      margin-bottom: 24px;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
    }

    p {
      margin-bottom: 3px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.7);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 14px;
        display: flex;
        align-items: center;

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.02em;
          color: #3D3D3F;
          margin-left: 17px;
          margin-bottom: 0;
        }
      }

      li:last-child {
        margin-bottom: 24px;
      }
    }

    button {
      padding: 10px 19px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: #FFFFFF;
      letter-spacing: 0.02em;

      img {
        margin-left: 10px;
        width: 16px;
      }
    }

  }
}

.main {
  .hover-box:hover {
    box-shadow: 0 0 10px #63CBFE;
  }

  .card {
    transition: 0.4s ease-in-out;
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%) !important;
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05)) !important;
    border-radius: 10px !important;

    .card-header {
      padding-top: 61px;
      padding-bottom: 19px;
    }

    .card-footer {
      padding: 0 62px 31px 63px !important;
    }
  }

  .title {
    margin-bottom: 24px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
    margin-bottom: 75px;
  }

  .main-card {
    margin-bottom: 120px;

    .card {
      background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
      border: 1px solid #EEEFF1;
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
      border-radius: 10px;

      .card-header {
        padding: 10px 13px 10px 13px !important;
        height: 249px;
        overflow: hidden;

        img {
          border-radius: 10px;
          width: 100%;
        }
      }

      .card-body {
        h3 {
          margin-top: 18px;
          margin-bottom: 1px;
        }
      }

      .card-footer {
        padding: 0 !important;

        h5 {
          margin-bottom: 17px;
        }

        ul {
          margin: 0 auto;
          width: 116px;
          justify-content: space-between;
          padding: 0;
          display: flex;
          list-style: none;
          margin-bottom: 20px;
        }
      }
    }

    .col-md-12 {
      text-align: center;

      button {
        margin-top: 58px;
        padding: 9px 22px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        text-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      }
    }
  }

  .main-content {
    .person, .content {
      margin-top: 75px;
    }

    .person {
      width: 545px;
      position: relative;
      height: 582px;

      img {
        width: 909px;
        position: absolute;
        left: -175px;
        top: -130px;
      }
    }

    .content {
      z-index: 2;
      width: 546px;
      margin-top: 174px;
      margin-left: 69px;

      h3 {
        line-height: 60px;
      }

      p {
        margin-bottom: 3px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: rgba(61, 61, 63, 0.7);
      }

      button {
        border: 0;
        margin-top: 30px;
        padding: 0;

        a {
          width: 100%;

          img {
            width: 100%;
            margin: 0;
          }
        }
      }

      .app-store {
        margin-left: 30px;
      }
    }
  }
}

.sectionAfterMain {
  margin-bottom: 123px;

  .title {
    margin-top: 120px;
    margin-bottom: 93px;
  }

  .SectionAfterMainCard {
    margin-bottom: 198px;

    .card {
      background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
      box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
      border-radius: 15px;

      .card-header {
        padding-top: 21px;
        position: relative;

        img {
          border-radius: 50%;
        }

        div {
          margin-bottom: 0;
          top: -12px;
          right: 41px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 45px;
          background: linear-gradient(105.02deg, #47C2FF 9.87%, rgba(99, 203, 254, 0.65) 161.1%);

          img {
            width: 46px;
            border-radius: 0;
          }
        }
      }

      .card-body {
        padding: 0 42px 0 48px;
        display: flex;
        justify-content: space-between;

        div {
          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: #3D3D3F;
            margin-bottom: 0;
          }

          h4 {
            margin-bottom: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            color: #63CBFE;
          }

        }
      }

      .card-footer {
        display: flex;
        text-align: start;
        justify-content: start;
        padding: 21px 17px 32px 48px;

        h5 {
          text-align: start;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 25px;
          color: #454D5D;
        }
      }
    }
  }

  .section-content {
    background: #40A3F8;
    border-radius: 12px;

    h3 {
      margin-bottom: 21px;
      margin-left: 118px;
      margin-top: 82px;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      text-transform: capitalize;
      color: #FFFFFF;
    }

    button {
      margin-left: 118px;
      padding: 16px 18px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      font-feature-settings: 'cpsp' on;
      color: #40A3F8;
    }

    .content-img {
      img {
        margin-top: -110px;
        width: 600px;
      }
    }
  }
}

.footer {
  background-color: #FFFFFF;
  padding-top: 34px;

  .footer-logo {
    img {
      margin-bottom: 12px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      color: #646464;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;
      margin-top: 16px;

      li {
        margin-right: 16px;
      }
    }
  }

  .footer-nav {
    display: flex;

    ul {
      margin-top: 8px;
      list-style: none;
      padding: 0;

      li {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        margin-top: 24px;
        margin-bottom: 0;

        a {
          color: #646464;
          text-decoration: none;
        }
      }

      li:nth-child(1) {
        margin-top: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #323232;
      }
    }

    ul:nth-child(2) {
      margin-left: 116px;
    }
  }

  .footer-input {
    p {
      margin-top: 8px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: #323232;
    }

    p:nth-child(2) {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      color: #646464;
      margin-bottom: 14.61px;
    }

    input {
      margin-bottom: 12px;
    }

    button {
      padding: 12px 0;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }

  }

  .hr {
    background: #969696;
    opacity: 0.2;
    margin: 30px 0 22.39px 0;
  }
}

.footer-end {
  background: rgba(205, 233, 255, 0.31);

  p {
    margin-top: 3.61px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #646464;
  }
}


@media (max-width: 576px) {
  .header {
    height: auto;
    padding-bottom: 60px;

    .header-content {
      .girl {
        display: none;
      }

      .header-title {
        margin-top: 20px;
        font-size: 40px;
      }

      .header-title:nth-child(2) {
        margin-top: 0;
      }
      p{
        margin: 0;
        margin-bottom: 20px;
      }
    }

    .myForm {
      display: block !important;

      input, select {
        margin-bottom: 20px;
        width: 100%;
        outline: none;
        padding: 16px;
        font-size: 18px;
      }

      button {
        width: 100%;
        padding: 10px;
      }
    }
  }
  .sectionAfterMain {
    margin-bottom: 60px;

    .SectionAfterMainCard {
      .col-md-4 {
        margin-top: 20px;
      }

      margin-bottom: 60px;
    }

    .section-content {
      border-radius: 0;
      text-align: center;

      h3 {
        padding-top: 60px;
        margin: 0;
      }

      button {
        margin: 20px auto 120px auto;
      }

      .d-flex {
        flex-direction: column;
      }

      .content-img {
        img {
          width: 100% !important;
        }
      }
    }
  }
  .main {
    .col-md-12 {
      margin-bottom: 20px;
    }

    .main-card {
      margin-bottom: 0;

      .col-md-3 {
        margin-bottom: 20px;
      }
    }
  }
  .section {
    .col-md-4 {
      margin-bottom: 20px;
    }

    .react-parallax {
      .react-parallax-bgimage {
        display: none;
      }

      .absoluteDiv {
        background: url("images/hospital.jpg") !important;
        background-position: center center !important;
      }

      margin-top: 60px;

      .myParallax {
        padding: 15px;
        font-size: 1em;
      }
    }
  }
  .person {
    display: none;
  }
  .content {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 60px !important;
  }
  .navbar {
    position: relative;
    padding: 0;
    background: transparent;

    .hamburger-react {
      display: block !important;
      color: #40A3F8;
    }

    .nav-item {
      margin: 0 auto !important;

      button {
        margin-left: 0;
      }
    }

    .nav-link {
      margin-left: 0 !important;
    }

    .collapse {
      right: unset !important;
      position: unset !important;
    }
  }
  .main-content {
    text-align: center;

    .person {
      img {
        display: none;
      }
    }

  }
  .footer {
    padding: 34px 12px 0 12px;
    .footer-logo,.footer-nav,.footer-input{
      margin-bottom: 25px;
    }
  }
}


@media (min-width: 1200px) {
  .container {
    width: 1169.8px !important;
  }
}